<p id="notice"><%= notice %></p>

<p>
  <strong>Carro:</strong>
  <%= @reserva.carro %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @reserva.cliente %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @reserva.cpf %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @reserva.data_inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @reserva.data_fim %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
